body {
    background-color: aqua;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: red;
    font-style: italic;
}

p {
    color: green;
    font-style: oblique;
}

.container {
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}

.cabecera {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu li {
    padding: 5px;
    text-decoration: none;
    list-style: none;
}