body {
    background-color: aqua;
    font-weight: 700;
}

h1 {
    color: red;
    font-style: italic;
}

p {
    color: green;
    font-style: oblique;
}

.container {
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}